export(allele.count,allelic.richness,
basic.stats,betas,
boot.ppfis,boot.ppfst,boot.vc,
genet.dist,eucl.dist,eucl.dist.trait,
g.stats,g.stats.glob,
genot2al,getal,getal.b,
ind.count,
indpca,
mat2vec,
nb.alleles,
pcoa,pop.freq,pp.fst,pairwise.neifst,
pp.sigma.loc,
read.fstat,read.fstat.data,qn2.read.fstat,
samp.between,samp.between.within,samp.within,
sim.freq,sim.genot,sim.genot.t,
subsampind,
test.between,test.between.within,test.g,test.within,
varcomp,varcomp.glob,
vec2mat,wc,write.fstat,write.struct,write.bayescan,
fstat,gstat.randtest,pairwise.fst,
AIc,test.sex.bias)

# Import all packages listed as Imports or Depends
importFrom(gtools,"rdirichlet")
importFrom(ade4,"dudi.pca")
importFrom(ade4,"as.randtest")
import(adegenet)

S3method(print,indpca)
S3method(plot,indpca)
S3method(print,pp.fst)
S3method(print,wc)
