export(allele.count,allelic.richness,
basic.stats,betas,
boot.ppfis,boot.ppfst,print.boot.pp.fst,boot.vc,
genet.dist,eucl.dist,eucl.dist.trait,
g.stats,g.stats.glob,
genot2al,getal,getal.b,
ind.count,
indpca,
mat2vec,
nb.alleles,
pcoa,pop.freq,pairwise.neifst,pairwise.WCfst,
pp.sigma.loc,
read.fstat,read.fstat.data,qn2.read.fstat,read.ms,
samp.between,samp.between.within,samp.within,
sim.freq,sim.genot,sim.genot.t,sim.genot.metapop.t,
subsampind,
test.between,test.between.within,test.g,test.within,
varcomp,varcomp.glob,
vec2mat,wc,write.fstat,write.struct,write.bayescan,
fstat,gstat.randtest,pairwise.fst,
AIc,sexbias.test,
genind2hierfstat,
write.bayescan,write.ped)

# Import all packages listed as Imports or Depends
import(adegenet)
importFrom(gtools,"rdirichlet")
importFrom(ade4,"dudi.pca")
importFrom(ade4,"as.randtest")
importFrom(graphics, "abline", "par", "text")
importFrom(stats, "as.dist", "complete.cases", "dist", "quantile","rmultinom", "t.test", "var", "var.test", "weighted.mean")
importFrom(utils, "combn", "write.table")

S3method(print,indpca)
S3method(plot,indpca)
S3method(print,pp.fst)
S3method(print,wc)
S3method(print,basic.stats)
